html{
    color: white;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.bottom-cloud{
    height: 150px;
    height: 150px;
    position: absolute;
    top: 300px;
    left: 0;
}

.bottom-container {
    background-color: #A9AF7E; 
    position: relative;
    padding: 0 20%;
}

.bottom-container h2{
    margin-top: 0;
    padding-top: 20px;
}

.bottom-container p{
    margin-bottom: 0;
}

.cloud{
    
}

.astronauta{
    height: 190px;
    height: 190px;
    position: absolute;
    right: 0;
}

.estacion{
    height: 100px;
    height: 100px;
    position: absolute;
    right: 600px;
    top: 250px;
}

.avion{
    height: 150px;
    height: 150px;
    position: absolute;
    left: 525px;
    
}

h1{
    margin-top: 0;
    position: relative;
    top: 180px;
}

hr{
    margin: 0px;
    padding: 0;
    position: relative;
    top: 0.5px;
}

.top-container {
    background-color: #557153;
    margin: 0;
    position: relative;
    width: auto;
    height: 500px;
    padding: 0 20%;
    
}

.top-container p{
    margin: 0;
    position: relative;
    top: 190px;
}

.cuadro-montaña{
    height: 255px;
    background-color: #A9AF7E;

}
.mountain{
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    position: fixed;
}

.middle-container {
    background-color: #7D8F69;
    padding: 0 10%;
}

.middle-container h2{
    padding-top: 20px;
}

.experience{
    padding-bottom: 20px;
}

.experience h2{
    margin-top: 0;
}


.skill-row{

}

.contact-me{

}